@mixin constrain-child-images($constraint, $dominant: '') {
    overflow: hidden; 
    picture, img {
        display: block;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        @if $constraint == 'width' {
            max-width: 100%;
        } @else if $constraint == 'height' {
            max-height: 100%;
        } @else if $constraint == 'both' {
            @if $dominant == 'width' {
                @warn "constrain-child-images is being called with a constraint of both and a dominant of both, this will deform the images in older browsers";
                max-height: 100%;
            } @else if $dominant == 'height' {
                @warn "constrain-child-images is being called with a constraint of both and a dominant of both, this will deform the images in older browsers";
                max-width: 100%;
            } @else {
                @warn "constrain-child-images is being called with a constraint of both and a dominant of both, this will deform the images in older browsers";
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    picture {
        @if $constraint == 'width' {
            width: 100%;
        } @else if $constraint == 'height' {
            height: 100%;
        } @else {
            width: 100%;
            height: 100%;
        }
    }
    @supports (object-fit:cover) or (-o-object-fit:cover){
        picture, img {
            @if $constraint == 'height' {
                width: auto;
            } @else {
                width: 100%; }
            @if $constraint == 'width' {
                height: auto;
            } @else {
                height: 100%; }
            max-height: none;
            max-width: none;
            min-height: 0;
            min-width: 0;
            @include __object-fit(cover);
            @include __object-position(50% 50%); }}
}
